<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <servlet-class>com.servlet.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>com.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBulletinServlet</servlet-name>
    <servlet-class>com.servlet.AddBulletinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddBulletinServlet</servlet-name>
    <servlet-class>com.servlet.TeacherAddBulletinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddChatServlet</servlet-name>
    <servlet-class>com.servlet.AddChatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddChatInfoServlet</servlet-name>
    <servlet-class>com.servlet.AddChatInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentAddChatServlet</servlet-name>
    <servlet-class>com.servlet.StudentAddChatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddChatServlet</servlet-name>
    <servlet-class>com.servlet.TeacherAddChatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProjectServlet</servlet-name>
    <servlet-class>com.servlet.AddProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddProjectServlet</servlet-name>
    <servlet-class>com.servlet.TeacherAddProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSingleChoiceServlet</servlet-name>
    <servlet-class>com.servlet.AddSingleChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPdServlet</servlet-name>
    <servlet-class>com.servlet.AddPdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SumSingleChoiceServlet</servlet-name>
    <servlet-class>com.servlet.SumSingleChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SumPdServlet</servlet-name>
    <servlet-class>com.servlet.SumPdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddSingleChoiceServlet</servlet-name>
    <servlet-class>com.servlet.TeacherAddSingleChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddJudgeQuestionServlet</servlet-name>
    <servlet-class>com.servlet.AddJudgeQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAddJudgeQuestionServlet</servlet-name>
    <servlet-class>com.servlet.TeacherAddJudgeQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyAdminServlet</servlet-name>
    <servlet-class>com.servlet.ModifyAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyChatServlet</servlet-name>
    <servlet-class>com.servlet.ModifyChatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyBulletinServlet</servlet-name>
    <servlet-class>com.servlet.ModifyBulletinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherModifyBulletinServlet</servlet-name>
    <servlet-class>com.servlet.TeacherModifyBulletinServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyJudgeQuestionServlet</servlet-name>
    <servlet-class>com.servlet.ModifyJudgeQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherModifyJudgeQuestionServlet</servlet-name>
    <servlet-class>com.servlet.TeacherModifyJudgeQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyStudentServlet</servlet-name>
    <servlet-class>com.servlet.ModifyStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifySingleChoiceServlet</servlet-name>
    <servlet-class>com.servlet.ModifySingleChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherModifySingleChoiceServlet</servlet-name>
    <servlet-class>com.servlet.TeacherModifySingleChoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentModifyAdminServlet</servlet-name>
    <servlet-class>com.servlet.StudentModifyAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherModifyAdminServlet</servlet-name>
    <servlet-class>com.servlet.TeacherModifyAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyProjectServlet</servlet-name>
    <servlet-class>com.servlet.ModifyProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentModifyProjectServlet</servlet-name>
    <servlet-class>com.servlet.StudentModifyProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCourseServlet</servlet-name>
    <servlet-class>com.servlet.AjaxCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxChatServlet</servlet-name>
    <servlet-class>com.servlet.AjaxChatServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxDxServlet</servlet-name>
    <servlet-class>com.servlet.AjaxDxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxPdServlet</servlet-name>
    <servlet-class>com.servlet.AjaxPdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyCourseServlet</servlet-name>
    <servlet-class>com.servlet.ModifyCourseServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ModifyStudentCourseServlet</servlet-name>
    <servlet-class>com.servlet.ModifyStudentCourseServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ModifyChatCheckServlet</servlet-name>
    <servlet-class>com.servlet.ModifyChatCheckServlet</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
    <servlet-name>ModifyChatCheckServlet</servlet-name>
    <url-pattern>/ModifyChatCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyStudentCourseServlet</servlet-name>
    <url-pattern>/ModifyStudentCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyCourseServlet</servlet-name>
    <url-pattern>/ModifyCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxPdServlet</servlet-name>
    <url-pattern>/AjaxPdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxDxServlet</servlet-name>
    <url-pattern>/AjaxDxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxChatServlet</servlet-name>
    <url-pattern>/AjaxChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCourseServlet</servlet-name>
    <url-pattern>/AjaxCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <url-pattern>/TeacherLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBulletinServlet</servlet-name>
    <url-pattern>/AddBulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddBulletinServlet</servlet-name>
    <url-pattern>/TeacherAddBulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChatServlet</servlet-name>
    <url-pattern>/AddChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddChatInfoServlet</servlet-name>
    <url-pattern>/AddChatInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAddChatServlet</servlet-name>
    <url-pattern>/StudentAddChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddChatServlet</servlet-name>
    <url-pattern>/TeacherAddChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProjectServlet</servlet-name>
    <url-pattern>/AddProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddProjectServlet</servlet-name>
    <url-pattern>/TeacherAddProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSingleChoiceServlet</servlet-name>
    <url-pattern>/AddSingleChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SumSingleChoiceServlet</servlet-name>
    <url-pattern>/SumSingleChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SumPdServlet</servlet-name>
    <url-pattern>/SumPdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddSingleChoiceServlet</servlet-name>
    <url-pattern>/TeacherAddSingleChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddJudgeQuestionServlet</servlet-name>
    <url-pattern>/AddJudgeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAddJudgeQuestionServlet</servlet-name>
    <url-pattern>/TeacherAddJudgeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyAdminServlet</servlet-name>
    <url-pattern>/ModifyAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyBulletinServlet</servlet-name>
    <url-pattern>/ModifyBulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherModifyBulletinServlet</servlet-name>
    <url-pattern>/TeacherModifyBulletinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyChatServlet</servlet-name>
    <url-pattern>/ModifyChatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyJudgeQuestionServlet</servlet-name>
    <url-pattern>/ModifyJudgeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherModifyJudgeQuestionServlet</servlet-name>
    <url-pattern>/TeacherModifyJudgeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyStudentServlet</servlet-name>
    <url-pattern>/ModifyStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifySingleChoiceServlet</servlet-name>
    <url-pattern>/ModifySingleChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherModifySingleChoiceServlet</servlet-name>
    <url-pattern>/TeacherModifySingleChoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentModifyAdminServlet</servlet-name>
    <url-pattern>/StudentModifyAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherModifyAdminServlet</servlet-name>
    <url-pattern>/TeacherModifyAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyProjectServlet</servlet-name>
    <url-pattern>/ModifyProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentModifyProjectServlet</servlet-name>
    <url-pattern>/StudentModifyProjectServlet</url-pattern>
  </servlet-mapping>
 

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
